.CFUserTextEncoding
.DS_Store
.Trash/
.anyconnect
.bash_history
.cups/
.gem/
.irb_history
.profile
.ssh/
.viminfo
Adobe
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
projects/
.emacs.d/auto-save-list/*
*.log
*~
.ido.last
.emacs-places
.emacs.d/places
.local/
.recentf
