[user]
	name = Douglas Sellers
	emal = dsellers@blurb.com
	email = doug@fitorb.com
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[rerere]
	enabled = true
[credential]
	helper = osxkeychain
